.activity {
  margin: 0px 5px;
  padding-top: 75px;
}

.activitySettings {
  border: solid 1px white;
  height: 50%;
}

.activityResponse {
  border: solid 1px white;
  height: 50%;
}

.formatButtons,
.responseToggles {
  margin: 15px;
}

.responseToggles h3,
.formatButtons h3 {
  padding: 15px;
  border-radius: 11px;
  background-color: #5e5e5e;
  margin: 0px 5px;
  height: 30px;
  line-height: 1px;
  cursor: pointer;
}
