/* ACTIVITY SECTION */

.activity {
  margin: 0px 5px;
}

.activitySettings {
  border: solid 1px white;
  height: 50%;
}

.navTabs {
  border-bottom: 1px solid;
}

.activeTab {
  border-top: 7px solid #567713;
}

.initialTab {
  border-right: solid 1px white;
}

.newTabBttn {
  cursor: pointer;
}

.initialTab,
.newTabBttn {
  line-height: 37px;
  user-select: none;
}

/* RESPONSE SECTION */

.activityResponse {
  border: solid 1px white;
  height: 50%;
}

.formatButtons,
.responseToggles {
  margin: 15px;
}

.responseToggles h3,
.formatButtons h3 {
  padding: 15px;
  border-radius: 11px;
  background-color: #5e5e5e;
  margin: 0px 5px;
  height: 30px;
  line-height: 1px;
  cursor: pointer;
}
